[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]


[packages]
livereload ='==2.6.1'
ibmcloudenv ='==0.2.1'
Flask = "==1.1.1"
prometheus-client = "==0.7.1"
setuptools= "==41.2.0"
flask_monitoringdashboard = "*"